@charset 'utf-8';
@font-face {font-family:MalgunGothic; src:url(/fonts/MalgunGothic.eot);}
html, body{overflow: hidden;font-size:16px;width: 100%;height: 100%; letter-spacing: -1px;color: #000; font-family:'Malgun Gothic'}

/***** reset *****/
/*html5 미지원 브라우저*/
article, aside, details, figcaption, figire, footer, header, hgroup, menu, nav, section{display: block;}
/*margin padding reset*/
*{margin: 0;padding: 0;border:0;box-sizing: border-box;}
table {border-collapse: collapse;border-spacing: 0;} 
img{border: 0;}
/*list reset*/
ol, ul, li{list-style: none;}
/*a reset*/
a{text-decoration: none;color: inherit;}

 /* scroll custom / 크롬 사파리 오페라 사용가능 */

 ::-webkit-scrollbar { width: 10px; /*스크롤바의 너비*/ }
 ::-webkit-scrollbar-thumb { background-color:#b1b1b1; border-radius: 16px;/*스크롤바의 색상*/ } 
 ::-webkit-scrollbar-track { background-color: #e1e1e1; border-radius: 16px;/*스크롤바 트랙 색상*/ }

/* layout */
header{position:fixed;z-index:99;top:0;left:0;right:0;display:block;width: 100%; height:50px;border-bottom:1px solid #e4e7ec;background-color: #fff;;}
.wrap{position:absolute;top:0px; bottom:0;left:0; right:0;overflow:hidden;padding-top:50px;display:block;width: 100%; height:auto;min-height: 100%;}
.wrap .left_wrap{position:relative;z-index:999999;display:inline-block;width: auto;height:100%;transition: .2s;}
.wrap .content_wrap{overflow:hidden;z-index: 9;display:inline-block;width:calc(100% - 90px);height:100%;background-color: #f0f5fb;transition: .2s;}
.wrap .content_wrap .content_box{overflow:hidden;display: block; width: 100%; height: calc(100% - 40px);}
.wrap .content_wrap footer{display: block;width: 100%; height:40px;border-top: 1px solid #e4e7ec;}

.template_title{background-color: #263e5c; padding: 8px;margin-top: 20px;margin-bottom: 20px;color: #fff;font-weight: 900;}


.clearfix::after{content: '';display: block; clear: both;}
.fs_0{font-size: 0;}
.fs_12{font-size: 12px;}

.overflow_h{overflow: hidden!important;}
.hidden{overflow: hidden;border:0; position: relative; z-index: -1;width: 1px;height: 1px;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}


.dip_bl{display: block!important;}
.dip_inb{display: inline-block!important;}
.dip_n{display: none!important;}

.flr{float: right}
.fll{float: left}

.por{position: relative;}
.poa{position: absolute;}
.pof{position: fixed;}

/* text align */
.tal{text-align: left!important}
.tac{text-align: center}
.tar{text-align: right}
.lht20{line-height: 20px;}
.lht100{line-height: 100px;}
.op1{opacity: 1!important;}
span{display: inline-block;vertical-align: middle;}
span.point{color: #FF2A00;}
span.lists{color: #58607C;font-size: 0.813rem;}

/* margin */
.m0{margin: 0px!important;}
.m10{margin: 10px!important;}
.m15{margin: 15px!important;}
.m20{margin: 20px!important;}

.mt5{margin-top: 5px!important;}
.mt10{margin-top: 10px!important;}
.mt15{margin-top: 15px!important;}
.mt20{margin-top: 20px!important;}
.mt30{margin-top: 30px!important;}
.mt40{margin-top: 40px!important;}

.mb5{margin-bottom: 5px!important;}
.mb10{margin-bottom: 10px!important;}
.mb15{margin-bottom: 15px!important;}
.mb16{margin-bottom: 16px!important;}
.mb20{margin-bottom: 20px!important;}
.mb30{margin-bottom: 30px!important;}
.mb40{margin-bottom: 40px!important;}

.ml5{margin-left: 5px!important;}
.ml10{margin-left: 10px!important;}
.ml15{margin-left: 15px!important;}
.ml20{margin-left: 20px!important;}

.mr5{margin-right: 5px!important;}
.mr10{margin-right: 10px!important;}
.mr15{margin-right: 15px!important;}
.mr20{margin-right: 20px!important;}
/* padding */

.p10{padding: 10px!important;;}
.p20{padding: 20px!important;;}
.pt5{padding-top: 5px!important;;}
.pt10{padding-top: 10px!important;;}
.pb10{padding-bottom: 10px!important;;}
.pr45{padding-right: 45px!important;;}
.pr80{padding-right: 80px!important;;}

/* input width! */
.w60{width: 60px!important;} 
.w80{width: 80px!important;} 
.w90{width: 90px!important;} 
.w100{width: 100px!important;} 
.w120{width: 120px!important;} 
.w150{width: 150px!important;} 
.w160{width: 160px!important;}
.w170{width: 170px!important;}
.w180{width: 180px!important;}
.w200{width: 200px!important;} 
.w250{width: 250px!important;} 
.w300{width: 300px!important;} 
.w320{width: 320px!important;} 
.w400{width: 400px!important;} 
.w500{width: 500px!important;} 
.w600{width: 600px!important;} 
.w700{width: 700px!important;} 
.w800{width: 800px!important;} 
.w900{width: 900px!important;} 
.w1000{width: 1000px!important;} 
.w1200{width: 1200px!important;} 
.wauto{width: auto!important;} 
.wfull{width: calc(100% - 130px)!important;} 
.wfull-w85{width: calc(100% - 85px)!important;} 

/* input height! */
.h30{height: 30px!important;} 
.h60{height: 60px!important;} 
.h80{height: 80px!important;} 
.h90{height: 90px!important;} 
.h100{height: 100px!important;} 
.h120{height: 120px!important;} 
.h150{height: 150px!important;} 
.h160{height: 160px!important;}
.h170{height: 170px!important;}
.h180{height: 180px!important;}
.h200{height: 200px!important;} 
.h300{height: 300px!important;} 
.h400{height: 400px!important;} 
.h500{height: 500px!important;} 
.h1000{height: 1000px!important;} 
.hauto{height: auto!important;} 




.helper {display: inline-block;height: 38px;vertical-align: middle;}
.vertical_top{vertical-align: top;}
.vertical_middle{vertical-align: middle;}
/* input custom */
input{font-size: 0.813rem;}
input:-moz-read-only{ /* For Firefox */background-color: #eee;}
input:read-only {background-color: #eee;}

/* text */
input[type="text"] {display:inline-block;vertical-align:middle;min-width: 50px; height: 30px;padding: 10px; border: 1px solid #d2d2d2;font-size: 0.813rem;}
/* checkbox custom */
input[type="checkbox"],input[type="radio"]{display: inline-block;vertical-align: -2px;margin-right:2px;}
label:last-of-type{margin-right: 0px;}
label{font-size: 0.75rem;display: inline-block;vertical-align: middle;margin-right: 10px;}

/* select custom */
select::-ms-expand { display: none;}/* IE */
.select{-o-appearance: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;font-size: 0.813rem;}
.select{display:inline-block;vertical-align: middle;width: auto;min-width:50px;height: 30px;background: url(/resources/images/icon/select_arrow.png) calc(100% - 5px) center no-repeat;background-color: #fff;padding: 5px 30px 5px 10px;border: 1px solid #d2d2d2;}
.select option {background: #fff;padding: 3px 0;}
/* datepicker */
input[type="text"].datepicker{max-width:100px;height: 30px;padding: 10px;padding-left: 8px;;background:url(/resources/images/icon/btn_image_datepicker.png) calc(100% - 5px) 50% no-repeat;;background-color: #fff; border:1px solid #d2d2d2;font-size: 0.813rem;cursor: pointer;}
/* datepicker popup custom*/
.ui-datepicker{z-index: 999999!important;width: auto;height: auto;margin-top:3px;background-color: #fff;border:1px solid #d2d2d2;font-size: 0.875rem;}
.ui-datepicker-header{width: 100%;padding: 20px 20px 15px;background-color: #164da3;color: #fff;;}
.ui-datepicker-header::after{content:'';display: block;clear: both;}
.ui-datepicker-prev, .ui-datepicker-next{overflow: hidden;width: 8px; height: 12px; background-position: 50% 50%; background-repeat: no-repeat;line-height: 0;text-indent: -99px;cursor: pointer;}
.ui-datepicker-prev {float: left;background-image: url(/resources/images/icon/datepicker_prev.png);}
.ui-datepicker-next{float: right;background-image: url(/resources/images/icon/datepicker_next.png);}
.ui-datepicker-title{text-align: center;font-size: 1rem;font-weight: 600;margin-top: -5px;}
.ui-datepicker-title *{vertical-align:top;}
.ui-datepicker-calendar{margin-bottom: 10px;;}
.ui-datepicker-calendar thead{background-color: #164da3;color: #c3daff;}
.ui-datepicker-calendar th{font-weight: 100;}
.ui-datepicker-calendar th, .ui-datepicker-calendar td{width: 34px; height: 34px; text-align: center;;}
.ui-datepicker-calendar td a{display: block;margin:0 auto;width: 30px; height: 30px;line-height:28px;border-radius: 50%;color: #000;}
.ui-datepicker-calendar td a:hover{background-color: #164da3;color: #fff;border-radius: 50%;}
/* textarea */
textarea{resize: none;width:100%;padding: 15px;margin: 4px 0;;background-color: fff;border: 1px solid #d0d0d0;}
textarea[readonly='readonly']{background-color: #f7f7f7;}
table.vertical textarea{resize: none;display: inline-block;vertical-align: bottom;height: 130px;border-color:#d2d2d2}
table.vertical .half textarea{width: calc(100% - 80px);}
.text_counter{display: inline-block;vertical-align: bottom;margin-left: 10px;width: 60px;;}
.half{width: 49%!important;}
.quarter{width: 25%!important;}

p.line-height_2{line-height: 2!important;}


/* font-color */
.fc_white{color: #fff;}
.fc_skyblue{color: #1C88EB;font-style: normal;}
.fc_red{color: #FE553F;font-style: normal;}
.fc_999{color: #999;}

table .btn_gray_line_small{margin-left:5px!important;min-width:50px;padding:0px 6px!important;line-height: 22px;font-size: 0.75rem!important; background-color: #fff;color: #434343; border: 1px solid #434343;}
/* cursor */
.pointer{cursor:pointer!important;}





/* scroll box */
.scroll_box{overflow: hidden;overflow-y: auto;height: auto;}
.scroll_box.checklist{width: 100%;}
.scroll_box.checklist li{float:left;width: 33.333%;line-height: 2;;}

.height_500{height: 500px;}
.height_400{height: 400px;}
.height_300{height: 300px;}
.height_100{height: 100px;}

/* transform */
.rotate_180{transform: rotate(180deg);}

/* tui-gridClass */
.gridClass{margin-bottom: 30px;}
