@charset 'utf-8';


/*페이지 영역*/
.content_title{height: 43px;padding: 0 36px;;background-color: #ffffff;border-bottom: 1px solid #e4e7ec;}
.content_title .title{float: left;font-size: 1.125rem;line-height: 41px;font-weight: 900;color: #000;}
.content_title .self_nav{float: right;font-size: 0.75rem;}
.content_title .self_nav li{display: inline-block;color: #949494;;}
.content_title .self_nav li:last-of-type{color: #333;}
.content_title .self_nav li::after{content: url(/resources/images/nav/selfnav_arrow.png);display: inline-block;margin: 0 4px;line-height: 42px;}
.content_title .self_nav li:last-of-type::after{display: none;}
.content{overflow:hidden; overflow-y:auto;width: 100%; height: 100%;padding: 20px 35px;padding-bottom: 150px;;}

/*tab style */
.tabs01 > ul{margin-bottom: 30px;border-bottom: 2px solid #162289;}
.tabs01 > ul >li{float: left;font-weight: 600;margin-left: -2px;margin-bottom: -2px;}
.tabs01 > ul >li >a{display: block;padding: 9px 50px;background-color: #fff;border: 2px solid #E4E7EC;border-bottom-color: #162289;}
.tabs01 > ul >li.ui-state-active >a{position:relative; z-index: 5;background-color:#F0F5FB;color: #162289;border: 2px solid #162289;border-bottom-color: #f0f5fb;}

/*tab style 02 */
.tabs02 > ul{margin-bottom: 30px;;}
.tabs02 > ul >li{float: left;}
.tabs02 > ul >li >a{display:block;min-width:160px; line-height: 32px;background-color: #fff;border: 1px solid #EDEFF2;font-size: 0.875rem;font-weight: 600;text-align: center;}
.tabs02 > ul >li.ui-state-active >a{color: #fff;background:url(/resources/images/icon/tab_icon.png) 20px 50% no-repeat;padding: 0 30px;background-color: #162289;}


/* 조회 영역 */
.white_text_box{position:relative;width: 100%;min-width: 410px; height: auto; padding: 10px 20px; background-color: #fff;;border: 1px solid #e4e7ec;font-size:0.813rem ;}
.white_box{position:relative;width: 100%;min-width: 410px; height: auto; padding: 10px;padding-bottom:0; background-color: #fff;;border: 1px solid #e4e7ec;font-size:0.813rem ;}
.search_list{width: auto;min-width:390px;max-width:390px;display: inline-block;margin-bottom: 10px;margin-right: 10px; margin-left: 20px;;}
.search_list_block{width: 100%;display: block;margin-bottom: 10px;margin-right: 10px; margin-left: 20px;;}
.pop_search_list{min-width:220px; display:inline-block; margin-bottom:10px;}

.white_box.hidden_box{display: none;}
.hidden_list{display: inline-block;}

.white_box .label{display: inline-block;width:95px;text-align:right;vertical-align:middle;font-size: 0.813rem;margin: 0 10px 0 20px;}
.label{display: inline-block;width:auto;text-align:right;vertical-align:middle;font-size: 0.813rem;margin: 0 10px 0 10px;}
.pop_label{display:inline-block;text-align:right;vertical-align:middle; font-size:0.813rem; margin-right:10px;margin-left:20px}

.list_dot_blue{display:inline-block;vertical-align:4px;margin-right: 8px;;}
.title_circle{display: block;padding-left:26px;font-size: 1rem;line-height: 28px;font-weight: 800;color:#30323c;background:url(/resources/images/icon/title_circle.png) 0 6px no-repeat;}
.title_line{display: block;padding-left:12px;font-size: 1.125rem;font-weight: 800;color:#164da3;background:url(/resources/images/icon/title_line.png) 0 50% no-repeat;}
.main_title{display: block;vertical-align:middle;padding-left:12px;line-height:30px;margin-right:5px;font-size: 1.25rem;font-weight: 800;color:#162289;background:url(/resources/images/icon/main_title.png) 0 50% no-repeat;}
.title_basic{display: inline-block;vertical-align: middle;width: auto;font-size: 1.125rem;font-weight: 800;color: #333;line-height: 30px;}
.title_message{display: block;padding-left: 12px;margin-top: 10px; font-size: 0.813rem;color: #8c9ba4;}
.main_title .date{display:inline-block;vertical-align: middle;margin-left: 8px;margin-top: -4px;width: auto;line-height:28px;padding: 0px 14px; background-color: #fff; color: #949494;font-weight: bold;border-radius: 20px;font-size: 0.75rem}

/* table style - 그리드*/
table.horizontal{width: 100%;border:1px solid #D0D0D0; background-color: #fff; font-size: 0.813rem;}
table.horizontal tr{}
table.horizontal th{height: 36px;background-color: #707588; color:#fff;border: 1px solid #D0D0D0;;}
table.horizontal td{height: 38px;padding:0px 20px 0px 20px;border: 1px solid #D0D0D0;text-align:center}
table span.text{display:inline-block;font-size: 0.75rem; width: auto;line-height: 1.2;;}
table span.text.c_red{color: #FF2A00;}
table span.text.c_gray{color: #666666;}
table span.text.c_gray::before{content: '*';display: inline-block;margin-left: -6px;margin-right: 3px;;}

/* table style -입력 */
table.vertical{width: 100%;border:1px solid #D0D0D0;border-top: 2px solid #707588; background-color: #fff; font-size: 0.813rem;;}
table.vertical tr{}
table.vertical th{height: 40px;padding: 0px 20px 0px 20px;background-color: #F4F5F7;border:1px solid #D0D0D0;font-weight: normal;}
table.vertical th.point::before{content: '*';display: inline-block;color: #ff2a00;margin-left: -9px;margin-right: 4px;font-size: inherit;}
table.vertical td{height:40px;min-width: 117px;padding: 4px 20px;border:1px solid #D0D0D0;line-height: 31px;} 



/* 입력화면 요소 */
.list_box_wrap{display:inline-block;margin-right:20px;}
.list_gray_box{width:190px;height:112px;;padding:6px 10px 6px 20px;background-color:#f7f7f7;border:1px solid #e6e6e6;}
.list_gray_box:last-of-child{margin-right:0;}
.list_gray_box>ul{width:100%;height:100%;overflow-y:auto}
.list_gray_box>ul>li{line-height:24px;font-size:0.813rem}


/* grid_wrap_02 */
/* .grid_wrap_02{display: inline-block;;width: calc(50% - 60px);vertical-align: middle;} */
.grid_wrap_02{display: inline-block;;width: calc(50% - 60px);vertical-align: top;background-color: #ddd;;}

/* pagination */
.pagination{width: 100%;text-align: center;font-size: 0.75rem;}
.pagination ul{}
.pagination ul li{display: inline-block;vertical-align: middle;}
.pagination ul li a{display:block;width: 25px; height:25px;line-height:23px;border:1px solid #d0d0d0;background-color: #fff;}
.pagination ul li a.on{border:1px solid #1C88EB;background-color: #1C88EB;color:#fff}
/* pagination */
.tui-pagination{width: 100%;text-align: center;font-size: 0.75rem;}
.tui-pagination *{box-sizing: border-box;}
.tui-pagination .tui-page-btn{display:inline-block;vertical-align: middle;width: 25px; height:25px;line-height:25px;margin:1px;border:1px solid #d0d0d0;background-color: #fff;cursor: pointer;}
.tui-pagination strong{line-height: 25px;}
.tui-pagination .tui-page-btn:hover{}
.tui-pagination .tui-is-selected, .tui-pagination strong{border:1px solid #1C88EB;background-color: #1C88EB;color:#fff}
.tui-pagination .tui-ico-first, .tui-pagination .tui-ico-prev, .tui-pagination .tui-ico-next, .tui-pagination .tui-ico-last{height:100%;background-position: 50% 50%; background-repeat: no-repeat;color: rgba(0,0,0,0);}
.tui-pagination .tui-ico-first{background-image: url(/resources/images/icon/paging_first.png);}
.tui-pagination .tui-ico-prev{background-image: url(/resources/images/icon/paging_prev.png);}
.tui-pagination .tui-ico-next{background-image: url(/resources/images/icon/paging_next.png);}
.tui-pagination .tui-ico-last{background-image: url(/resources/images/icon/paging_last.png);}


/* popup */
.overlay{display:none;position:fixed;z-index: 97;width: 100%; height: 100%; background-color: rgba(0,0,0,0.1);cursor: pointer;}
.popup_overlay{display: none;position:fixed;top:0;bottom: 0;left: 0;right: 0;z-index: 999998;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);}
.popup_wrap{overflow: hidden;display:none;width: auto;min-width: 200px;height:auto;min-height:350px;position: fixed;top:50%;left:50%;;z-index:999999 ;transform: translate(-50%, -50%);background-color: #fff;;}
.popup_title, .popup_con{padding: 10px 20px;}
.popup_title{border-bottom: 1px solid #d2d2d2;}


/* quick menu */
.quickmenu {position: absolute;width:60px;right: 20px;top: 326px;margin-top: -50px;z-index: 2;}
.quickmenu ul{width: 100%;height: 100%;}
.quickmenu ul li{width: 100%;height: 33.333%;}
.quickmenu ul li a{display:block;width: 60px;height: 60px;padding-top: 36px;font-size: 0.75rem;color:#fff;text-align: center;font-weight: 600;}
.quickmenu ul li:nth-of-type(1) a{background:url(/resources/images/icon/qmenu01.png) 50% 10px no-repeat;background-color: #8c9ba4;border: 1px solid #75858f;border-radius: 7px 7px 0 0;}
.quickmenu ul li:nth-of-type(2) a{background:url(/resources/images/icon/qmenu02.png) 50% 12px no-repeat;background-color: #4366b7;border: 1px solid #3a5cb0;}
.quickmenu ul li:nth-of-type(3) a{background:url(/resources/images/icon/qmenu03.png) 50% 12px no-repeat;background-color: #00ad99;border: 1px solid #00957f;border-radius: 0 0 7px 7px;}
  


/* step */
.step_wrap{padding: 10px 0;margin-bottom: 40px;}
.step_wrap .step{float:right;width: auto;}
.step_wrap .step li{position: relative;float: left;width: 162px;height: 66px;margin-right: 20px;}
.step_wrap .step li::after{content:'';display:block;position:absolute;top: 30px;right: -20px;;width: 20px; height: 5px; background-color: #fff;}
.step_wrap .step li:last-of-type{margin-right: 0px;}
.step_wrap .step li:last-of-type::after{display: none;}
.step_wrap .step li a{display: block;width: 100%; height: 100%;padding-top: 11px;;padding-left: 75px;}
.step_wrap .step li p{font-size: 1rem;font-weight: 600;;}
.step_wrap .step li span{font-size: 0.875rem;font-weight: 600;;}
/* step 개별 설정 */
.step_wrap .step li.end{background: url(/resources/images/icon/step01.jpg) 50% 50% no-repeat;}
.step_wrap .step li.end p{color:#4165af;}
.step_wrap .step li.end span{color: #64769b;}
.step_wrap .step li.end::after{background-color: #162289;}
.step_wrap .step li.ing{background: url(/resources/images/icon/step02.jpg) 50% 50% no-repeat;}
.step_wrap .step li.ing p{color:#fff;}
.step_wrap .step li.ing span{color: #b9c9ea;}
.step_wrap .step li.ing::after{background-color: #cfd7db;}
.step_wrap .step li.pre{background: url(/resources/images/icon/step03.jpg) 50% 50% no-repeat;}
.step_wrap .step li.pre p{color:#707c83;}
.step_wrap .step li.pre span{color: #8c9ba4;}
.step_wrap .step li.pre::after{background-color: #cfd7db;}









