
/* toolbar */
.toolbar{position: sticky;top:0px;width:100%;height: auto;padding:10px;background-color: #fff;border: 1px solid #d2d2d2;border-top: 0;;}
.toolbar form{display:inline-block!important;}
.toolbar .tool_wrap{display: inline-block;vertical-align:top;;margin:0 5px;width: auto;text-align:center;}
.toolbar .line{display: inline-block;vertical-align: middle;width:1px;height: 40px;background-color: #e0e0e0;font-size: 0;margin: 0 10px;}

.toolbar .tool_wrap .tool_box{overflow: hidden;width: 100%;height: auto;border-radius: 6px;border:1px solid #d2d2d2;font-size: 0;padding-left:0;margin-bottom:0}
.toolbar .tool_wrap .tool_box li{display:inline-block;width:60px;height: 34px;padding:2px;background-color: #fff;cursor: pointer;}
.toolbar .tool_wrap .tool_box li.disabled{pointer-events: none;}
.toolbar .tool_wrap .tool_box li img{opacity: .6;}
.toolbar .tool_wrap .tool_box li:hover img{opacity: 1;}
.toolbar .tool_wrap .tool_box li.active{background-color:#dae4f0}
.toolbar .tool_wrap .tool_box li.active img{opacity: 1;}

.toolbar .tool_wrap .tool_btn{overflow: hidden;width: 60px; height: 36px;border-radius: 6px;border:1px solid #d2d2d2; margin: 0 auto;}
.toolbar .tool_wrap .tool_btn a{display: block;padding:2px;width:100%;height: 100%;;background-color: #fff;}
.toolbar .tool_wrap .tool_btn a img{opacity: .6;}
.toolbar .tool_wrap .tool_btn a:hover{background-color: #dae4f0;;}
.toolbar .tool_wrap .tool_btn a:hover img{opacity: 1;}

.toolbar .tool_wrap input[type="text"]{display:block;width: 100px;height: 36px;padding:2px 10px;border-radius: 6px;border:1px solid #d2d2d2;font-size:0.813rem;vertical-align:middle}
.toolbar .tool_wrap input[type="number"]{display:block;width: 100px;height: 36px;padding:2px 10px;border-radius: 6px;border:1px solid #d2d2d2;font-size:0.813rem;vertical-align:middle;}

.toolbar .tool_wrap select{display:block;width: 60px;height: 36px;padding:2px 4px;font-size: 16px;border-radius: 6px;border:1px solid #d2d2d2;;}
.toolbar .tool_wrap select option{font-size: 16px;}

.toolbar .tool_wrap .color_picker{width: 60px; height: 38px; display: block;border: 0; background-color: #fff;}

.toolbar .tool_wrap  span{color: #575757;font-size: 11px;font-weight: 600;}

span.tool_shapes{vertical-align: top;}
span.tool_shapes.disabled{opacity:.4;}
span.tool_arrow{vertical-align: top;}
span.tool_arrow.disabled{opacity:.4;}

.map{width: 100%;height: 1000px;background-color: #fff;border: 1px solid #d2d2d2;margin-top: 50px;;}
.circle{width: 50px;height: 50px; border-radius: 50%;background-color: blue;cursor: pointer;}
.arrow{width: 40px;height: 10px;background-color: blue;cursor: pointer;}

/* checkbox custom toggle */
.toggle-switch input[type=checkbox]{display: none;}
.toggle-track{display: inline-block;position: relative;width: 46px; height: 24px;border-radius:46px;background: #8b8b8b;cursor: pointer;}
.toggle-track:before{content:'';display: block; position: absolute;top: 2px;left: 4px;width: 18px;height: 18px;background: #fff;border-radius:100%;border:1px solid #8b8b8b;transition:left 0.3s;}
/* toggle style */
.toggle-switch input[type=checkbox]:checked + label .toggle-track{background: #164da3;}
.toggle-switch input[type=checkbox]:checked + label .toggle-track:before{left: 22px; border:1px solid #164da3;}

.toolbar + p.tbox{font-size: 14px;margin-top: 6px;color: #575757;}